HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
### Pastas dos serviços ###
### My SQL Host Data ###
mongo-data/
mysql-inventory/
mysql-order/
mysql_inventory_data/
mysql_order_data/
mysql_upgrade.sql
mysql_keycloack_data/
mysql_keycloak_data/
mysql_keycloak_data
mongo-data\
grafana\

mongo-data/diagnostic.data/metrics.interim
grafana/grafana.db
grafana/grafana.db
grafana/alerting/1/__default__.tmpl
.idea/compiler.xml
